<%@ page language="java" contentType="text/html; charset=ISO-8859-1"  pageEncoding="ISO-8859-1"%>
     <% response.setHeader("Cache-Control","no-cache"); //HTTP 1.1 	 %> 
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<%@page import="java.util.*"%>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Add Student</title>
<script type="text/javascript" src="<%=getServletContext().getContextPath()%>/js/validate.js"></script>

<link href="<%=getServletContext().getContextPath()%>/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<script>

</script>
<jsp:include page="/jsp/Header.jsp"></jsp:include>
<div id="main">

 <div id="formId" >
 <%if(session.getAttribute("error")!=null){ 
 String err=(String) session.getAttribute("error");%>
 <font size="4">Following error may have occurred: </font><br></br>
		<font color='red'><%=err %> </font>
	<%} %>
	<%if(session.getAttribute("error")==null){%>
 <h2>Add Student Details</h2>
<h5 > All fields are mandatory</h5>
<form id="reg1" name="reg" method="post"  action="<%=getServletContext().getContextPath()%>/StudentController">
<input type="hidden" name="<%=StudentConstants.ACTION%>" value="<%=StudentConstants.ADDSTUDENT%>"></input>
<table width="100%">
	<tr>
		<th width="25%"></th>
		<th width="30%"></th>
		<th width="45%"></th>
		</tr>
		<tr>
			<td>Member Name*:</td>
			<td><input type="text" class= "text" size="25" maxlength="20" id="fname" name="<%=StudentConstants.FNAME%>"></td>
			<td id="r1"></td>
		</tr>
		<tr>
			<td>Age*:</td>
			<td><input type="text" class= "text" size="25" maxlength="2" id="fage" name="<%=StudentConstants.FAGE %>"></td>
			<td id="r2"></td>
		</tr>
		<tr>
			<td>Gender*:</td>
			<td><input type="radio" class= "text" name="<%=StudentConstants.FGENDER%>" id="fgender" value="M">Male&nbsp;&nbsp;&nbsp;&nbsp;<input
				type="radio" class="text" name="<%=StudentConstants.FGENDER%>" id="fgender" value="F">Female</td>
			<td id="r3"></td>
		</tr>
		
		<tr>
			<td>Address*:</td>
			<td><textarea rows="4"  class= "text" cols="20" id="txtarea" name="<%=StudentConstants.FTXTAREA%>"></textarea></td>
			<td id="r4"></td>
		</tr>
		<tr>
			<td>Location*:</td>
			<td><input type="text" class= "text" size="25" maxlength="15" name="<%=StudentConstants.FLOCATION%>"></input></td>
			<td id="r5"></td>
		</tr>
		<tr>
			<td>Contact No.*:</td>
			<td><input type="text" class= "text" size="25" maxlength="10" id="connum" name="<%=StudentConstants.FCONNUM%>"></td>
			<td id="r6"></td>
		</tr>

<tr>
			<td>Committed Amount*:</td>
			<td><select id="famt" name="<%=StudentConstants.FAMT%>" class="text">
				<option>Select</option>
				<option>1000</option>
				<option>2000</option>
				<option>3000</option>
				<option>4000</option>
				<option>5000</option>
				</select></td>
			<td id="r7"></td>
		</tr>
		<tr>
		<td>Bank*:</td>
			<td><select name="<%=StudentConstants.BANKID%>" id="bank_id" class="text"><option>Select</option>
			<% ArrayList<Bank> bank=new ArrayList<Bank>(); 
				bank=(ArrayList)session.getAttribute("getbanks");
				Iterator<Bank> itr=bank.iterator();
				while(itr.hasNext()){
					Bank bnk=new Bank();
					bnk=(Bank)itr.next();
					
				%>
				<option value="<%=bnk.getBank_id()%>"><%=bnk.getBank_name()%>,&nbsp;&nbsp;&nbsp;<%=bnk.getBranch() %></option>
				<%  } %>
				</select>
				
				</td>
				
			<td id="r8"></td>
		</tr>
		<tr>
		<td>College*:</td>
		<td><select name="<%=StudentConstants.CID%>" id="cID" class="text"><option>Select</option>
		<% ArrayList<College> college=new ArrayList<College>(); 
				college=(ArrayList)session.getAttribute("getcolleges");
				Iterator<College> itr1=college.iterator();
				while(itr1.hasNext()){
					College c=new College();
					c=(College)itr1.next();
					
				%>

				<option value="<%= c.getID() %>"><%= c.getName() %> </option>

				<%  } %>
		
		</select></td>
		<td id="r9"></td></tr>
		<tr>
			<td>Current Year of Graduation*:</td>
			<td><select id="fyear" name="<%=StudentConstants.FYEAR%>" class="text">
				<option>Select</option>
				<option>1st year</option>
				<option>2nd year</option>
				<option>3rd year</option></select></td>
			<td id="r10"></td>
		</tr>

		<tr>
			<td colspan="2" ><input type="submit" value="Submit" onclick="return validate()" class="submit2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
				type="reset" value="Reset" class="submit2"></td>
		</tr>
</table>
</form>
<%} %>
</div></div>
<jsp:include page="../jsp/Footer.jsp"></jsp:include>
</body>
</html>